$primary: #fe6601;
$secondary: #ffffff;
$tertiary: #1d5191;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

html {
  overflow-x: clip;
}
body {
  font-family: "PT Sans", sans-serif !important;
  overflow-x: clip;
  width: 100%;
}

// scroll effect
@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes text-zoom-out {
  0% {
    background-position: 20% 0%;
    transform: scale(10, 10);
  }
  60% {
    transform: scale(1, 1);
  }
  75% {
    background-position: 20% 0%;
  }
  100% {
    background-position: 100% 95%;
  }
}

.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
  animation: fade-up 1s;
}

//navbar
#cart-icon {
  @media (max-width: $md) {
    margin-right: 1rem;
  }
}
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  flex-direction: row-reverse;
  opacity: 90%;
  @media (max-width: $md) {
    justify-content: end;
  }
}
.navbar-menuback {
  position: fixed;
  left: 23px;
  top: 15px;
  @media (min-width: $md) {
    display: none;
  }
}
.navbar-brand {
  display: none;
  @media (min-width: $md) {
    display: block;
  }
}
.navbar-nav-scroll {
  @media (width<$md) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.6s ease-in-out !important;
    overflow-y: hidden !important;
    background-color: $primary;
    text-indent: 2rem;
    ul {
      height: 100dvh;
      margin-top: 3rem;
      margin-left: 1rem;
    }
    li > a {
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
}
//curtain
.global-curtain {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0px;
  background-color: $primary;
  overflow-y: hidden;
  transition: 0.4s ease-in-out;
  opacity: 90%;

  .global-curtain-content {
    color: $secondary !important;
    padding: 5%;
    position: relative;
    top: 5%;
    width: 100%;
    text-align: left;
    margin-top: 1rem;
  }
}
.global-curtain-bottom {
  content: "";
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 3;
  transition: 0.2s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.global-curtain.curtain-flyout {
  height: 50%;
}
.global-curtain-bottom.curtain-bottom-flyout {
  height: 100%;
  display: block;
}

// scrolling video
.intro {
  max-width: 100dvw;
  height: 100%;
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: -1;
  backface-visibility: hidden;
  // overflow: hidden;

  background-color: pink;

  .hero-caption {
    font-size: 4.5rem;
    @media (min-width: $sm) {
      font-size: 7rem;
    }
    @media (min-width: $md) {
      font-size: 10rem;
    }
    @media (min-width: $xl) {
      font-size: 12rem;
    }
    font-weight: bold;
    text-wrap: wrap;
    color: transparent;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );
    background: -webkit-linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );

    background-clip: text;
    -webkit-background-clip: text;

    width: 100%;
    height: 100%;
    background-size: 200%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -20%;

    animation-name: text-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  video {
    // height: auto;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    // margin-bottom: 0.5rem;
  }
  #video-desktop {
    display: none;
    height: 100dvh;
    @media (min-width: $lg) {
      display: block;
    }
  }
  #video-mobile {
    display: block;
    @media (min-width: $lg) {
      // display: none;
    }
  }
}
.post-intro {
  width: 100%;
  background-color: #e82c8a;
  color: $secondary;
  padding: 200px 0;
  .post-intro-section-container {
    @media (max-width: $sm) {
      padding: 0px 50px;
    }
    padding: 50px 100px;

    .post-intro-section-img img {
      border-radius: 50%;
      max-width: 300px;
      padding: 25px;
    }
    .post-intro-section {
      display: grid;
      text-align: center;

      .col {
        h2 {
          font-weight: bold;
          font-size: 3rem;
          padding: 20px 0;
        }
        h3 {
          font-weight: bold;
          font-size: 2.3rem;
          padding: 20px 0;
        }
        p {
          font-size: 2rem;
          padding: 20px 0;
        }
      }
      .col-desktop {
        display: none;
      }
      .col-mobile {
        display: block;
      }
      .col-desktop {
        @media (min-width: $md) {
          display: block;
        }
      }
      .col-mobile {
        @media (min-width: $md) {
          display: none;
        }
      }
    }
  }
}
//grid-gallery
.grid-section-container {
  padding: 200px 25px;
  @media (max-width: $md) {
    padding: 100px 0px !important;
  }
  background-color: rgb(247, 86, 161);
  color: $secondary;
  max-width: 100%;
  .grid-section-wrapper {
    padding: 0px 0px;
    #grid-gallery-caption {
      font-size: 4rem;
      font-weight: bold;

      ~ p {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 100px;
      }
    }

    .grid-gallery-container {
      display: grid;
      padding: 20px;
      .grid-gallery {
        display: grid;
        // width: 100%;
        gap: 1rem 1rem;
        .grid-item-1 {
          grid-row: 1/2;
          grid-column: 1/2;
        }

        .grid-item-2 {
          grid-row: 1/2;
          grid-column: 2/3;
          position: relative;
          top: -100px;
          left: -50px;
          transition: all 3s ease-in-out;
          transition-delay: 0.5s;
          z-index: 2;
        }
        .grid-item-2.show {
          transform: translate(50px, 100px);
        }
        .grid-item-3 {
          grid-row: 2/3;
          grid-column: 1/3;
        }
        .grid-item-4 {
          grid-row: 1/3;
          grid-column: 3/5;
          top: -100px;
          left: 100px;

          position: relative;
          transition: 3s ease-in-out;
          transition-delay: 0.5s;
        }
        .grid-item-4.show {
          transform: translate(-100px, 100px);
        }
        .grid-item-5 {
          grid-row: 1/5;
          grid-column: 1/3;
          top: 100px;
          left: -150px;

          position: relative;
          transition: 3s ease-in-out;
          transition-delay: 0.5s;
        }
        .grid-item-5.show {
          transform: translate(150px, -100px);
        }

        .grid-item-7 {
          grid-row: 3/5;
          grid-column: 3/4;
          top: 100px;
          left: 250px;

          position: relative;
          transition: 2.8s ease-in-out;
          transition-delay: 0.5s;
        }
        .grid-item-7.show {
          transform: translate(-250px, -100px);
        }
        .grid-item-8 {
          grid-row: 3/5;
          grid-column: 4/5;
        }

        .grid-item-6 {
          grid-row: 1/3;
          grid-column: 3/5;
        }
        img {
          height: 100%;
          width: 100%;
          border-radius: 20px;
        }
      }
      .grid-gallery-1 {
        @media (max-width: $xl) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.new-product {
  background-color: transparent;
  min-height: 1000px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .new-product-container {
    border: 2px $primary;
    border-radius: 20px;
    padding: 70px 100px;
    min-height: 50%;
    min-width: 80%;
    background-color: $secondary;
    .new-product-wrapper {
      display: grid;
      .new-product-content {
        align-items: center;
        color: $primary;
        font-weight: bold;
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

.subpage-intro {
  img {
    width: 100%;
    object-fit: cover;
  }
}

// products
.offers {
  h1 {
    color: $primary;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    @media (max-width: $lg) {
      font-size: 3rem;
    }
  }
  .content-wrapper {
    padding: 50px 0 200px;
    margin: 0px 30px;
    @media (min-width: $xl) {
      margin: 0px 120px;
    }
    display: block;

    h1 {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
    }
    .col-section {
      perspective: 900px;
      .card-wrapper {
        display: grid;
        transform-style: preserve-3d;
        transition-timing-function: ease-in-out;
        transition: 0.6s ease-in-out;
      }
      .face {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .is-flipped {
        transform: rotateY(180deg);
      }
      .back {
        background-color: $secondary;
        transform: rotateY(180deg);
        > img {
          opacity: 60%;
        }
      }
      .front {
        background-color: $secondary;
      }
      .card {
        .cta-links {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 90%;

          .icon-link {
            z-index: 1;
            color: $primary;
            text-decoration: none;
            text-underline-offset: 0.1;
            &:hover {
              text-decoration: underline;
            }
          }
          a {
            &::before {
              content: "";
              position: absolute;
              top: 0px;
              right: 0px;
              bottom: 0px;
              left: 0px;
            }
          }
          button {
            font-size: 90%;
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          transition: all 0.4s ease;
        }
      }
    }
  }
}

//import scss
@import "../node_modules/bootstrap/scss/bootstrap";
//google fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
//bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
//customized scss
@import "./split-out-animation.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./products.scss";
