$primary: #fe6601;
$secondary: #ffffff;
$tertiary: #1d5191;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


body{
    font-family: 'Noto Sans', sans-serif !important;
}

//navbar
#cart-icon{
    @media(max-width:$md){
        margin-right: 1rem;
    }
}
.navbar{
    flex-direction: row-reverse;
    @media(max-width: $md){
        justify-content: end;
    }
}
.navbar-menuback{
    position: fixed;
    left: 23px;
    top:15px;
    @media (min-width: $md){
        display: none;
    }
}
.navbar-brand{
    display: none;
    @media(min-width: $md){
        display: block;
    }
}
// .collapse, .navbar-collapse{
//     height: auto;
// }
.navbar-nav-scroll{
    @media (width<$md) {
        position: fixed;
        width: 100%;
        top:0;
        left:0;
        transition: 0.6s ease-in-out !important;
        overflow-y: hidden !important;
        background-color: $primary;
        ul{
            height: 100dvh;
            margin-top: 3rem;
            margin-left: 1rem;
        }
        li>a{
            font-size: 2rem;
            padding-top: 1rem;
        }
    }
   
}
//curtain
.global-curtain{
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 30px;
        background-color: $primary;
        overflow-y: hidden;
        transition: 0.4s ease-in-out;
}
.global-curtain-bottom{
    content: "";
    position: fixed;
    top:0%;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 3;
    transition: 0.2s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
}
.curtain-flyout{
    height: 50%;
}
.curtain-bottom-flyout{
    height: 100%;
    display: block;
}
.global-curtain-content{
    color: $secondary !important;
    padding: 5%;
    position: relative;
    top:5%;
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

// scrolling video
.intro{
    width: 100%;
    video{
        // height: auto;
        width: 100%;
        object-fit:cover;
        margin-bottom: 0.5rem;
    }
    #video-desktop{
        display: none;
        @media(min-width: $lg){
            display: block;
        }
    }
    #video-mobile{
        display: block;
        @media(min-width: $lg){
            display: none;
        }
    }
}

@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

// products
.content-wrapper{
    margin:2rem;

    h1{
        transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
    }
}
.reveal{
    opacity: 0;
}
.reveal.active{
    opacity: 1;
    animation: fade-up 1s;
}
.col-section{
    perspective: 900px;
}
.card-wrapper{
    display: grid;
    transform-style: preserve-3d;
    transition-timing-function: ease-in-out;
    transition: 0.6s ease-in-out;
}
.face{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.is-flipped{
    transform: rotateY(180deg);
}
.back{
    background-color: $secondary;
    transform: rotateY(180deg);
}
.front{
    background-color: $secondary;
}
.card{
    .cta-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 90%;

        .icon-link{
            z-index: 1;
            color: $primary;
            text-decoration: none;
            text-underline-offset: 0.1;
            &:hover{
                text-decoration: underline;
            }
        }
        a{
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px; 
            }
        }
        button{
            font-size: 90%;
        }
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33,33,33,.2); ;
        transition: all 0.4s ease;
    }
}

// global footer
.globalfooter{
    color: $secondary;
    font-size: 0.9rem !important;
    a{
        color: $secondary;
        opacity: 70%;
    }
    .globalfooter-column{
        h3{
            font-size: 1rem;
            // margin-bottom: 0.8rem;
        }
        .expanded{
            .globalfooter-column-section-list{
                visibility: visible ;
                margin-bottom: 0.5rem ;
                height: auto ;
                transition: 0.5s ease-out;
            }
        }
    }
    .globalfooter-column-section{
        list-style: none;
        padding-left: 0;
        padding-bottom: 1rem;
        transition: 0.5s ease-in-out;
        
        .globalfooter-column-section-list{
            list-style: none;
            padding-left: 0;
            
            a{
                text-decoration: none;
            }
            @media (max-width:$md) {
                visibility: hidden;
                height: 0;
                margin-bottom: 0;
                padding-left: 1rem;
            }
        }
        .globalfooter-column-section-item{
            text-align: left;
            @media (min-width: $md) {
                padding-bottom: 0.3rem;
            }
            
            &:hover{
                text-decoration: underline;
            }
        }
        .globalfooter-column-section-title{

            .globalfooter-column-section-title-text{
                margin-bottom: 0rem;
                @media (max-width:$md){
                    display: none;
                }
            }
            .globalfooter-column-section-title-text-button{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &:hover{
                    background-color: $primary;
                    border-color: $primary;
                }
                @media (min-width:$md) {
                    display: none;
                }
            }
        }

        &::after{
            content: "";
            position: relative;
            height: 1px;
            display: block;
            background-color: $secondary;
            opacity: 70%;
            @media (min-width: $md){
                display: none;
            }
        }
    }
    
}

//import scss
@import "../node_modules/bootstrap/scss/bootstrap";
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
//bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");