//navbar
#cart-icon{
    @media(max-width:$md){
        margin-right: 1rem;
    }
}
.navbar{
    flex-direction: row-reverse;
    opacity: 90%;
    @media(max-width: $md){
        justify-content: end;
    }
}
.navbar-menuback{
    position: fixed;
    left: 23px;
    top:15px;
    @media (min-width: $md){
        display: none;
    }
}
.navbar-brand{
    display: none;
    @media(min-width: $md){
        display: block;
    }
}
.navbar-nav-scroll{
    @media (width<$md) {
        position: fixed;
        width: 100%;
        top:0;
        left:0;
        transition: 0.6s ease-in-out !important;
        overflow-y: hidden !important;
        background-color: $primary;
        text-indent: 2rem;
        ul{
            height: 100dvh;
            margin-top: 3rem;
            margin-left: 1rem;
        }
        li>a{
            font-size: 2rem;
            padding-top: 1rem;
        }
    }
   
}
//curtain
.global-curtain{
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0px;
        background-color: $primary;
        overflow-y: hidden;
        transition: 0.4s ease-in-out;
        opacity: 90%;

        .global-curtain-content{
            color: $secondary !important;
            padding: 5%;
            position: relative;
            top:5%;
            width: 100%;
            text-align: left;
            margin-top: 1rem;
        }
}
.global-curtain-bottom{
    content: "";
    position: fixed;
    top:0%;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 3;
    transition: 0.2s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
}
.global-curtain.curtain-flyout{
    height: 50%;
}
.global-curtain-bottom.curtain-bottom-flyout{
    height: 100%;
    display: block;
}